<h1>Edit Things</h1>

<div class="ajax-reloadable">

<%= flash[:invaliderror] %>
<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.submit "Change Details"%>
<% end %>

<%= flash[:tagerror] %>
<h3>Tags</h3>
<div>
  <% @user.tags.each do |tag| %>
  <p><%= tag.name %><%= button_to "Delete", tag_path(tag.id), :method => :delete, remote: true, :class => 'tag-delete' %></p>
  <% end %>
</div>

<%= form_for Tag.new, :remote => true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit 'New Tag', :class => 'tag-submit-button' %>
<% end %>

<%= flash[:glosserror] %>
<h3>Glossaries</h3>
<div>
  <% @user.glossaries.each do |gloss| %>
  <p><%= link_to gloss.title, edit_path(@user.urlname, gloss.urlname)  %><%= button_to "Delete", glossary_path(gloss.id), :method => :delete, remote: true %></p>
  <% end %>
</div>

<%= form_for Glossary.new, :remote => true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit 'New Glossary', :class => 'gloss-submit-button' %>
<% end %>

</div>
