<h1>New User</h1>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <%  %>
  </ul>
  <% end %>
<% end %>

<%= form_for @user, :url => root_path, html: {class: "nifty_form"} do |f| %>
<!-- TODO make user not case sensitive -->
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up"%>
<% end %>
