<h1><%= @user.username %> Profile</h1>

<%= link_to @user.username + "'s Files", user_path(@user.urlname)%>

<h3>Tags</h3>
<p>
<% @user.tags.each do |tag| %>
  <span><%= tag.name %></span>
<% end %>
</p>

<h3>Glossaries</h3>
<div>
  <% @user.glossaries.each do |gloss| %>
  <p><%= link_to gloss.title, edit_path(@user.urlname, gloss.urlname)  %><%= button_to "Delete", glossary_path(gloss.id), :method => :delete, remote: true %></p>
  <% end %>
</div>
